<template>
  <div class="hello">
    <button
      @click="getCPUDataset(CPUArray, 5000)"
    >get CPU dataset</button>
    <button
      @click="getMEMDataset(MEMArray, 1)"
    >get MEM dataset</button>
   <div style="display: flex">
     <chart
       v-if="MEMDataset.length > 0"
       :options="{ width: 580, height: 180 }"
       :dataset="CPUDataset"
     ></chart>
     <chart
       v-if="MEMDataset.length > 0"
       :options="{ width: 580, height: 180 }"
       :dataset="MEMDataset"
     ></chart>
   </div>

  </div>
</template>

<script>
import axios from 'axios'

import chart from './chart.vue';
export default {
  name: 'HelloWorld',
  components: {
    chart
  },
  data: () => ({
    array: [],
    CPUDataset: [],
    MEMDataset: [],
  }),
  methods: {
    getData() {
      axios.get('http://localhost:8080/dataset_cpu_mem.json').then(({data}) => {
        let test = data.split('\n').map((item) => {
            if (item !== '') {
              let asd = JSON.parse(item.replaceAll(', ', ', "')
                .replaceAll('{', '{"')
                .replaceAll(':', '":'))
              return asd
            }
        })
        test.length = test.length - 1
        this.array = test;
      })
    },
    showPoints(grp, pts, markerSize, color) {
      let i;
      let point;
      for (i = 0; i < pts.length; i++) {
        point = pts[i];
        const marker = document.createElementNS(this.svgns, 'circle');
        marker.setAttributeNS(null, 'cx', point.x);
        marker.setAttributeNS(null, 'cy', point.y);
        marker.setAttributeNS(null, 'r', markerSize);
        marker.setAttributeNS(null, 'fill', color);
        grp.appendChild(marker);
      }
    },
    getCPUDataset(array, eps) {
      this.CPUDataset = this.douglasPeckerrecursive(array, 0, array.length - 1, eps);

    },
    getMEMDataset(array, eps) {
      this.MEMDataset = this.douglasPeckerrecursive(array, 0, array.length - 1, eps);

    },
    douglasPeckerrecursive(points, first, last, eps){

      if (points.length > 0) {
        if (first >= last - 1) {
          return [points[first]];
        }
        const slop = (points[last].y - points[first].y)/(points[last].x - points[first].x)

        const x0 = points[first].x;
        const y0 = points[first].y;

        let dmax = 0
        let imax = -1

        for (let i = first; i < last; i++) {
          const p = points[i];
          const y = y0 + slop * (p.x - x0)
          const dy = Math.abs(p.y - y)

          if (dy > dmax) {

            dmax = dy
            imax = i
          }
        }

        if (dmax < eps) {
          return [points[first]]
        }

        const newPoints1 = this.douglasPeckerrecursive(points, first, imax, eps)
        const newPoints2 = this.douglasPeckerrecursive(points, imax, last, eps)

        return newPoints1.concat(newPoints2)

      }
     return []
    }
  },
  computed: {
    CPUArray() {
      if (this.array.length > 0) {
          return this.array.map(item => {
            if (item) {
              return {
                x: item._time,
                y: item.CPU
              }
            }
        })
      }
      return []
    },
    MEMArray() {
      if (this.array.length > 0) {
        return this.array.map(item => {
          if (item) {
            return {
              x: item._time,
              y: item.MEM
            }
          }
        })
      }
      return []
    },
  },
  mounted() {
    this.getData();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
